<launch>
  <arg name="config_path" default="$(find vins)/config/euroc/euroc_mono_imu_config.yaml" />
  <arg name="bag_path" default=""/>
  <arg name="rviz" default="true"/>
  <!-- auto-enable if bag_path is set -->
  <arg name="play_bag" default="$(eval arg('bag_path') != '')"/>

  <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log"
        args="-d $(find vins)/config/vins_rviz_config.rviz"
        if="$(arg rviz)" />

  <node name="vins_estimator" pkg="vins" type="vins_node" output="screen" required="true">
    <param name="config_path" value="$(arg config_path)" />
  </node>

  <node name="loop_fusion" pkg="vins" type="loop_fusion_node" output="screen">
    <param name="config_path" value="$(arg config_path)" />
  </node>

  <!-- Play bag only if bag_path provided -->
  <node name="rosbag_play" pkg="rosbag" type="play" output="screen"
        args="$(arg bag_path)"
        if="$(arg play_bag)" />
</launch>
